DirectoryIndex index.html index.php
Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /academiaafec/RPGINTERFACE/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
